.CreateArticleUnified {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.CreateArticleUnified-submit {
  background-color: #0F4C3A;
  font-size: 1.6rem;
  padding: 0 2rem;
  height: 4rem;
  line-height: 4rem;
}

@media (max-width: 768px) {
  .CreateArticleUnified {
    padding: 1rem;
  }
}



