.Filters-container {
    z-index: 2601 !important;
    padding: 1rem;
}

.Filters-item {

}

.Filters-reset_button {
    position: absolute;
    top: 1.2rem;
    right: 6rem;
    margin-left: 3.5rem;
    cursor: pointer;
    width: 1rem;

}
@media screen and (max-width: 759px) {
    .Filters-reset_button {
        margin-left: 1rem;
        right: 4.5rem;
    }
}
@media screen and (max-width: 523px) {
    .Filters-reset_button {
        margin-left: 1.5rem !important;
        padding-left: 1rem;
        right: 4rem;
    }
}

.Filters-reset_text {
    font-size: .95rem;
    position: relative;
    /*left: .5rem;*/
}

.Filters-search_input_container {
    position: relative;
    /*top: -1.25rem;*/
    width: auto;
}
.Filters-search_input_icon {
    position: absolute;
    right: .75rem;
    top: 1rem;
}

.Filters-search_input {
    all: revert !important;
    /*border: 1px solid #9e9e9e;*/
    border-radius: 0 !important;
    outline: none !important;
    /*height: 3rem;*/
    /*width: 100%;*/
    /*font-size: 1rem;*/
    margin: 0 !important;
    padding: 0 !important;
    padding-left: 1rem !important;
    /*padding-right: 3rem !important;*/
    box-sizing: border-box !important;

    /*border: 1px dotted #999 !important;*/
    border-radius: 8% !important;
    height: 1rem !important;
    font-size: 1.8rem !important;
    /*width: 18.3rem !important;*/
    height: 4rem !important;
    padding-right: .2rem !important;
}
.Filters-search_input:focus {
    border: 1.5px solid #23345a !important;
}