/*@import url('https://fonts.googleapis.com/css?family=Dancing+Script');*/
.logosmall {
    width: 115%;
    height: 115%;
    border: 5px solid rgba(0, 0, 0, .65);
    /*background-image: linear-gradient(to right, #F6FAFD, rgba(255, 255, 255, .50));*/
    border-radius: 80px;
    font-family: 'Dancing Script', cursive;
    position: relative;
    font-size: 350%;
    font-weight: bold;
}
.logosmall-text {
    font-size: 130%;
}
.logosmall-com {
    font-size: 80%;
}
.logosmall-B {
    position: relative;
    top: -.5rem;
    left: 1.65rem;
}
.logosmall-C {
    position: relative;
    top: 1rem;
    left: .3rem;
}
.logosmall-spade {
    font-size: 85%;
    position: absolute;
    top: -.5rem;
    left: 2rem;
}
.logosmall-diamond {
    position: absolute;
    font-size: 85%;
    top: -.5rem;
    left: 7.8rem;
}
.logosmall-heart {
    position: absolute;
    font-size: 85%;
    top: 2.2rem;
    left: 2rem;
}
.logosmall-club {
    position: absolute;
    font-size: 85%;
    top: 2.2rem;
    left: 7.8rem;
}


@media screen and (max-width: 598px) {
    .logosmall {
        font-size: 200%;
    }
}
